.inner-box{
    color: aliceblue;
}
.navbar-light{
    color: aliceblue;
}
.block{
    margin: 0px;
    padding: 0px;
    height: 60px;
}
.grade-select{
    height: 39px;
    margin: 4px;
    padding-bottom: 1px;
    margin-bottom: 13px;
}
.btn-toolbar{
    margin: 1px;
    padding: -5px;
}


#menu-toggle{
    color: aliceblue;
}
.navbar-light {
    background-color:rgba(31, 30, 31, 0.418) ;
    text-align: center;
}

@media only screen and (max-width: 600px) {
   #navi {
        background-color: rgba(41, 41, 41, 0.39);
        text-align: center;
    }
}
body{
        height: 100vh;
        background: #475d62 url(../../assets/img/star-sky.jpg);
        background-size: 100%;
        
}