* {
  box-sizing: border-box;
}
.frosted{
  background-color: rgba(255, 255, 255, 0.733);  
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(76, 215, 240, 0.041);
}
.uni-logo{
  width: 100%;  
  text-align: center;  
}
.footer-content {
  margin-top: 20px;
}
.content-2 {
  margin-top: 60px;
}
.content-3 {
  margin-top: 20px;
}
.btn-space{
  margin-left: 2px;
}
.jumbotron {
  background: rgb(5,103,242);
  background: linear-gradient(90deg, rgba(5,103,242,0.4389765549774597) 0%, rgba(26,246,197,1) 100%);
}
.card-space{
  padding-bottom: 10px;
  
}
.footer-end {
  background-color: rgba(0, 0, 0, 0.2);
}

.max-he{
  height: 250px;

}
@media only screen and (max-width: 768px) {
  .max-he{
    height: 300px;
  }
}
.flex-pic{
  display: flex;
  justify-content: right;
}
.flex-pic .flex-img{
  width: 50%;
}